.row {
    margin: 0;
}

.button {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    width: 150px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    background-color: #6b929a;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background-color: #b3b3ff;
}

.heading {
    text-align: center;
    font-weight: bold;
    color: #6b929a;
    margin: 0;
    padding: 15px;
}

.header {
    min-height: 500px;
}

.header-top {
    padding-top: 20px;
    height: 100px;
    color: #555;
    font-size: 14px;
    text-transform: uppercase;
}

.header-bottom {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.header-bottom img {
    height: 400px;
}

.header-bottom p {
    width: 90%;
    margin: 150px auto 20px auto;
    font-size: 18px;
}

.header-bottom .button {
    font-weight: normal;
    margin: 0 auto;
}

.info {
    min-height: 550px;
    background-color: black;
    color: white;
}

.hait {
    height: 500px;
}

.info img {
    margin-left: -60px;
    height: 550px;
}

.left-side {
    padding: 10px;
    z-index: 2;
}

.image2 {
    margin-left: -100px;
    height: 550px;
    background-image: url('../img/Imran Rana 1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.info p {
    font-size: 17px;
    margin: 20px auto;
}

.workwith {
    text-align: center;
    background-color: #dbe2e6;
    min-height: 350px;
}

.companies {
    min-height: 100px;
    max-width: 80%;
    margin: 0 auto;
}

.images-fl {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.img-comp {
    cursor: pointer;
    width: 19%;
    height: 70px;
}

.img-comp img {
    transition: 0.2s;
}

.img-comp img:hover {
    transform: scale(1.2, 1.2);
}

.companies img {
    margin: 15px 0;
    max-height: 55px;
    max-width: 90px;
}

.work-with {
    margin: 30px auto;
}

.book {
    margin: 10px auto;
    max-width: 80%;
    text-align: center;
    min-height: 290px;
}

.book p {
    font-size: 18px;
    margin: 15px;
}

.book-imrad {
    margin: 30px auto;
}

.contacts {
    min-height: 530px;
    background-color: #6b929a;
}

.cont-header {
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}

.cont-form {
    margin: 0 auto;
    max-width: 80%;
}

.cont-left p {
    text-align: center;
}

.cont-header p {
    font-size: 16px;
}

.image-cont {
    margin: 0 auto;
    height: 180px;
    width: 180px;
    background-image: url('../img/Imran Rana 2.png');
    background-size: cover;
    background-position-x: -50px;
    border-radius: 50%;
}

form input {
    margin: 10px 0;
}

.inputs {
    width: 95%;
    margin: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #6b929a;
    outline: none;
    padding-left: 10px;
    transition: 0.5s;
    color: white;
}

.inputs::placeholder {
    opacity: 0.5;
    color: white;
}

.inputs:focus {
    border-bottom: 1px solid white;
}

.aleft {
    text-align: left;
}

.cont-right {
    background-color: #5c7c81;
}

.form-button {
    letter-spacing: -1px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

form {
    min-height: 350px;
}

.footer-up {
    color: white;
    text-align: center;
    min-height: 100px;
    background-color: #555;
}

.footer-up h2 {
    height: 100px;
    margin: 0;
    line-height: 100px;
}

.footer-bot {
    text-align: center;
    color: white;
    min-height: 30px;
    background-color: #333;
}

.footer-bot p {
    height: 30px;
    margin: 0;
    line-height: 30px;
}

@media (max-width: 992px) {
    .header-top {
        text-align: center;
    }
    .header-bottom p {
        margin: 30px auto;
    }
    .header-bottom .button {
        margin-bottom: 20px;
    }
    .image2 {
        width: 400px;
        margin: 0 auto;
        height: 450px;
    }
    .info {
        min-height: 810px;
        height: 100%;
    }
    .left-side {
        z-index: 1;
        height: 500px;
    }
    .left-side p {
        width: 80%;
    }
    .hait {
        height: 950px;
    }
}

@media (max-width: 768px) {
    .img-comp {
        width: 30%;
    }
    .images-fl {
        justify-content: center;
    }
    .workwith {
        min-height: 530px;
    }
}